<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="https://jakarta.ee/xml/ns/jakartaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
        version="6.0">

    <servlet>
        <servlet-name>HelloWorldServlet</servlet-name>
        <servlet-class>WebPack.HelloWorldServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloWorldServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoadProgramServlet</servlet-name>
        <servlet-class>WebPack.LoadProgramServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoadProgramServlet</servlet-name>
        <url-pattern>/api/load</url-pattern>
    </servlet-mapping>
</web-app>
